Checks: >
 -*,
 clang-diagnostic-*,
 clang-diagnostic-newline-eof,
 llvm-*,
 misc-*,
 -misc-const-correctness,
 -misc-unused-parameters,
 -misc-non-private-member-variables-in-classes,
 -misc-no-recursion,
 -misc-use-anonymous-namespace,
 readability-identifier-naming,
 -misc-include-cleaner,
 -llvm-header-guard,
 -llvm-include-order,
 -misc-confusable-identifiers

WarningsAsErrors:    '*'
HeaderFileExtensions:         ['', 'h','hh','hpp','hxx']
ImplementationFileExtensions: ['c','cc','cpp','cxx']

CheckOptions:
  # Classes, Structs, Unions
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.StructCase
    value:           CamelCase
  - key:             readability-identifier-naming.UnionCase
    value:           CamelCase
  
  # Enums
  - key:             readability-identifier-naming.EnumCase
    value:           CamelCase
  - key:             readability-identifier-naming.EnumConstantCase
    value:           CamelCase
  - key:             readability-identifier-naming.EnumConstantPrefix
    value:           ''
  
  # Functions and Methods
  - key:             readability-identifier-naming.FunctionCase
    value:           CamelCase
  - key:             readability-identifier-naming.MethodCase
    value:           CamelCase
  
  # Variables
  - key:             readability-identifier-naming.VariableCase
    value:           camelBack
  - key:             readability-identifier-naming.LocalVariableCase
    value:           camelBack
  - key:             readability-identifier-naming.ParameterCase
    value:           camelBack
  
  # Members
  - key:             readability-identifier-naming.MemberCase
    value:           camelBack
  - key:             readability-identifier-naming.PrivateMemberCase
    value:           camelBack
  - key:             readability-identifier-naming.PrivateMemberPrefix
    value:           m_
  - key:             readability-identifier-naming.ProtectedMemberCase
    value:           CamelCase
  - key:             readability-identifier-naming.ProtectedMemberPrefix
    value:           m_
  - key:             readability-identifier-naming.PublicMemberCase
    value:           CamelCase
  
  # Constants - Different types of constants
  - key:             readability-identifier-naming.ConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.GlobalConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.StaticConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.ConstexprVariableCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.ConstexprMethodCase
    value:           CamelCase
  - key:             readability-identifier-naming.ConstexprFunctionCase
    value:           CamelCase
  
  # Local constants
  - key:             readability-identifier-naming.LocalConstantCase
    value:           camelBack
  - key:             readability-identifier-naming.LocalConstantPointerCase
    value:           camelBack
  
  # Global and Static Variables
  - key:             readability-identifier-naming.GlobalVariableCase
    value:           CamelCase
  - key:             readability-identifier-naming.GlobalVariablePrefix
    value:           g_
  - key:             readability-identifier-naming.StaticVariableCase
    value:           CamelCase
  - key:             readability-identifier-naming.StaticVariablePrefix
    value:           s_
  
  # Namespaces
  - key:             readability-identifier-naming.NamespaceCase
    value:           lower_case
  
  # Templates
  - key:             readability-identifier-naming.TemplateParameterCase
    value:           CamelCase
  - key:             readability-identifier-naming.TemplateTemplateParameterCase
    value:           CamelCase
  - key:             readability-identifier-naming.TypeTemplateParameterCase
    value:           CamelCase
  - key:             readability-identifier-naming.ValueTemplateParameterCase
    value:           camelBack

  # Macros
  - key:             readability-identifier-naming.MacroDefinitionCase
    value:           UPPER_CASE
  
  # Other modernize options
  - key:             modernize-use-default-member-init.UseAssignment
    value:           1
  - key:             modernize-use-nullptr
    value:           1